# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/
target/

# Node.js (si vous ajoutez des dépendances plus tard)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Environnement
.env
.env.local
.env.production
